@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --font-family-sans-serif: 'Open Sans', sans-serif;
}

.dashboardContainer {
    display: flex;
    font-family: var(--font-family-sans-serif);
  }
  
  .sidebar {
    width: 15%;
    padding: 20px; /* Khoảng cách lề */
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 100vh; /* Chiều cao toàn màn hình */
  }

  .sidebar i{
    padding-right: 10px;
    color: rgb(62, 149, 255);
  }
  
  .sidebar h3 {
    margin-bottom: 40px;
    font-size: 30px;
  }

  .menu{
    margin-top: 30px;
  }
  
  .sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin: 5px 0px;
  }
  
  .sidebar a:hover {
    background-color: rgba(0, 123, 255, 0.1);
    border-radius: 8px;
    cursor: pointer;
  }

  .sidebar img{
    width: 200px;
  }
  
  .mainContent {
    width: 85%;
  }
  
  .header {
    background: linear-gradient(90deg, rgb(17, 204, 239), rgb(17, 114, 239));
  }

  .header h1{
    margin: 0;
    color: white;
    font-size: 20px;
    padding: 30px;
  }
  .center h2{
    margin: 0;
    color: white;
  }

  .center {
    background: linear-gradient(90deg, rgb(17, 204, 239), rgb(17, 114, 239));
    display: flex;
    justify-content: space-around; /* Căn đều khoảng cách giữa các card */
    padding: 30px 30px 80px 30px;
    gap: 20px;
  }
  
  .cardInfor {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    max-width: 250px; /* Giới hạn kích thước card */
  }
  
  /* Hiệu ứng hover */
  .cardInfor:hover {
    transform: translateY(-5px);
  }
  
  .cardInforLeft h3 {
    margin-bottom: 5px;
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .cardInforLeft p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #222;
  }
  
  .cardInforRight1, .cardInforRight2, .cardInforRight3, .cardInforRight4{
    padding: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }

  .cardInforRight1{
    background-color: rgb(245, 54, 92);
  }

  .cardInforRight2{
    background-color: rgb(251,99,64);
  }

  .cardInforRight3{
    background-color: rgb(255,214,0);
  }

  .cardInforRight4{
    background-color: rgb(17,205,239);
  }
  
  .cardInforRight1, .cardInforRight2, .cardInforRight3, .cardInforRight4 {
    color: white;
    font-size: 20px;
  }

  .bottom{
    background-color: rgb(241,244,249);
    padding: 10px;
  }

  .bottom h2{
    margin: 0;
  }
  