.body {
  height: 100vh;
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 650px;
  width: 1500px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.container h2 {
  font-size: 30px;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding-bottom: 20px;
  padding-left: 20px;
}

.topTable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.topTable span {
  font-size: 20px;
}

.topTable input {
  width: 300px;
  border-radius: 15px;
}

.search {
  display: flex;
  align-items: center;
}

.search i {
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.table{
  max-height: 400px;
  overflow-y: auto;
}

.table table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table th{
  text-align: center;
  border: 1px solid #000000;
  padding: 10px;
  background-color: #ccc;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: left;
}

.titleColumn{
  max-width: 250px;
  word-wrap: break-word;
  overflow-wrap: break-word; 
  white-space: normal;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnDelete {
  width: 50px;
  margin: 5px;
  background-color: rgb(255, 6, 6);
}

.btnDelete:hover {
  background-color: rgb(196, 0, 0);
}

.btnEdit {
  width: 50px;
  margin: 5px;
  background-color: rgb(0, 214, 0);
}

.btnEdit:hover {
  background-color: rgb(0, 119, 16);
}