/* Đặt font chữ cho toàn bộ header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 50px;
    background-color: rgb(255, 255, 255);
    height: 60px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000
}

/* Phần bên trái chứa E-learning */
.leftSection {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.elearning {
    height: 50px;
    width: auto;
}

/* Phần bên phải chứa menu và thông tin người dùng */
.rightSection {
    display: flex;
    align-items: center;
}

/* Menu lựa chọn */
.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navItem {
    margin-right: 15px;
    padding: 5px 10px;
    color: rgb(94, 90, 90);
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navItem:hover {
    color: black;
}

/* Thông tin người dùng */
.userInfo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.username {
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #333;
}

.logout {
    border: none;
    padding: 5px 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout i {
    font-size: 20px;
    color: rgb(94, 90, 90);
    margin-left: 10px;
}

.logout i:hover {
    font-size: 20px;
    color: black;
}

.notification{
    margin-right: 25px;
    cursor: pointer;
}