.sidebar {
    width: 15%;
    padding: 20px; /* Khoảng cách lề */
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: auto; /* Chiều cao toàn màn hình */
  }

  .sidebar i{
    padding-right: 10px;
    color: rgb(62, 149, 255);
  }
  
  .sidebar h3 {
    margin-bottom: 40px;
    font-size: 30px;
  }

  .menu{
    margin-top: 30px;
  }
  
  .sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none !important;
    color: black;
    margin: 5px 0px;
  }
  
  .sidebar a:hover {
    background-color: rgba(0, 123, 255, 0.1);
    border-radius: 8px;
    cursor: pointer;
  }

  .sidebar img{
    width: 200px;
  }