.body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* step 1 */

.step1{
    border: 1px solid rgb(187, 187, 187);
    align-self: flex-start;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.step1 span{
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.step1 h1{
    margin-bottom: 0;
    padding: 0 20px;
}

.step1 h4{
    text-align: center;
    margin-bottom: 40px;
}

.step1 button{
    background-color: rgb(66,139,202);
    margin-top: 25px;
}

.step1 button:hover{
    background-color: rgb(46, 96, 139);
}

.typeEmail{
    display: flex;
    align-items: center;
}

.typeEmail i{
    font-size: 20px;
    border: 1px solid rgb(187, 187, 187);
    padding: 11px 5px;
    border-right: 0px;
    border-radius: 5px 0 0 5px;
}

.typeEmail input{
    margin: 0;
    border-radius: 0 5px 5px 0;
}


/* step 2 */

.step2{
    border: 1px solid rgb(187, 187, 187);
    align-self: flex-start;
    padding: 20px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.step2 h4{
    text-align: center;
    margin-bottom: 40px;
}

.step2 button{
    background-color: rgb(66,139,202);
    margin-top: 25px;
}

.step2 button:hover{
    background-color: rgb(46, 96, 139);
}

.typeOTP{
    display: flex;
    align-items: center;
}

.typeOTP i{
    font-size: 20px;
    border: 1px solid rgb(187, 187, 187);
    padding: 11.5px 5px;
    border-right: 0px;
    border-radius: 5px 0 0 5px;
}

.typeOTP input{
    margin: 0;
    border-radius: 0 5px 5px 0;
}

.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.mainCountdown{
    height: 100px;
    width: 100px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.mainCountdown p{
    font-size: 25px;
    font-weight: 700;
}

/* Step 3 */

.step3{
    border: 1px solid rgb(187, 187, 187);
    align-self: flex-start;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.step3 span{
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.step3 h1{
    margin-bottom: 0;
    padding: 0 20px;
}

.step3 h4{
    text-align: center;
    margin-bottom: 40px;
}

.step3 button{
    background-color: rgb(66,139,202);
    margin-top: 25px;
}

.step3 button:hover{
    background-color: rgb(46, 96, 139);
}

.typePassword{
    display: flex;
    align-items: center;
}

.typePassword i{
    font-size: 20px;
    border: 1px solid rgb(187, 187, 187);
    padding: 11px 5px;
    border-right: 0px;
    border-radius: 5px 0 0 5px;
}

.typePassword input{
    margin: 0;
    border-radius: 0 5px 5px 0;
}

.errorMessage{
    color: red;
    text-align: center;
    margin-bottom: 0;
    margin-top: -21px;
}

.successMessage{
    color: green;
    text-align: center;
    margin-bottom: 0;
    margin-top: -21px;
}